nav {
  background-color: rgb(25, 30, 36);
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  align-items: center;
  height: 85px;
  margin-top: -25vmin;
}

.nav-left {
  float: left;
  margin-top: 2.75vmin;
  margin-left: 5vmin;
  color: white;
  text-decoration: none;
}

.nav-right {
  float: right;
  margin-top: 2.75vmin;
  margin-right: 5vmin;
  color: white;
  text-decoration: none;
}

#home {
  font-size: 2.5vmin;
  margin-top: 2vmin;
}